<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{block name="title"}子标题{/block}|TP5留言板</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
<div class="container" style="margin-top:20px;">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">TP5 留言本</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {block name="nav"}子标题{/block}


                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/index.php/index/index/login" class="">登录</a></li>
                    <li><a href="/index.php/index/index/register">注册</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    {block name="main"}主体{/block}


    <div class="well">
        留言板DEMO
    </div>
</div>
</body>
</html>
