<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Thinkphp 5.0 留言板</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
<div class="container" style="margin-top:20px;">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">TP5 留言本</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">首页 <span class="sr-only">(current)</span></a></li>
                    <li><a href="/index.php/index/index/add">发布留言</a></li>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/index.php/index/index/login">登录</a></li> 或
                    <li><a href="/index.php/index/index/register">注册</a></li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <table class="table">
        <tr>
            <td>编号</td>
            <td>标题</td>
            <td>评论</td>
            <td>发布日期</td>
            <td>操作</td>
        </tr>
        {volist name='list' id='v'}
        <tr>
            <td>{$v.id}</td>
            <td><a href="/index.php/index/index/read/id/{$v.id}">{$v.title}</a></td>
            <td>20</td>
            <td>{$v.create_time}</td>
            <td><a href="/index.php/index/index/delete/id/{$v.id}" class="btn btn-danger">删除</a></td>
        </tr>
        {/volist}
    </table>
    {$list->render()}
    <div class="well">
        留言板DEMO
    </div>
</div>
</body>
</html>
