{extend name="index/base" /}

{block name="title"}首页{/block}

{block name="nav"}
<li><a href="/" class="active">首页</a></li>
<li><a href="/index.php/index/index/add">发布留言</a></li>
{/block}

{block name="main"}
    <table class="table">
        <tr>
            <td>编号</td>
            <td>标题</td>
            <td>评论</td>
            <td>发布日期</td>
            <td>操作</td>
        </tr>
        {volist name='list' id='v'}
        <tr>
            <td>{$v.id}</td>
            <td><a href="/index.php/index/index/read/id/{$v.id}">{$v.title}</a></td>
            <td>20</td>
            <td>{$v.create_time}</td>
            <td><a href="/index.php/index/index/delete/id/{$v.id}" class="btn btn-danger">删除</a></td>
        </tr>
        {/volist}
    </table>

    {$list->render()}
{/block}
